@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins:wght@400;500&display=swap");

* {
  margin: 0;
}

html {
  font-family: "Poppins", sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

header {
  background-image: url("../img/section_bg.svg");
  background-repeat: no-repeat;
}

.nav-menu {
  padding: 25px;
  display: flex;
  justify-content: end;
}

.nav-menu a {
  text-decoration: none;
  color: black;
  font-weight: 800;
  font-size: 1.8rem;
}

.nav-menu ul {
  display: none;
}

.ic_menu {
  width: 30px;
}

.hero-section {
  display: flex;
  flex-direction: column;
}

.hero-section > img {
  margin-top: 32px;
}

.hero-left {
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 30px;
}

.hero-left h1 {
  width: 7ch;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 60px;
  line-height: 60px;
  color: #1a2236;
}

.hero-left p {
  padding: 20px 0;
  font-family: "Poppins", sans-serif;
  color: #1a2236;
  line-height: 21px;
  font-weight: 400;
}

.start-collaboration-btn {
  margin-top: 20px;
  cursor: pointer;
  height: 60px;
  width: 100%;
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  background-color: transparent;
  color: #1a2236;
  border: solid #1a2236 2px;
}

.start-collaboration-btn:hover {
  background-color: #1a2236;
  color: white;
}

/* Projects section */

.projects-section {
  margin-top: 32px;
}

.projects-section > img {
  width: 100%;
}

.projects-section > h2 {
  margin-left: 16px;
  margin-top: 40px;
  margin-bottom: 32px;
  font-size: 50px;
  font-family: "Playfair Display", serif;
  color: #1a2236;
  font-weight: normal;
}

.projects-container {
  display: grid;
}

.project-item {
  background: transparent;
  display: flex;
  flex-direction: column;
}

.project-item > img {
  width: 100%;
}

.project-description {
  padding: 20px;
  background: #1a2236;
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex-grow: 0;
}

.project-description > h2 {
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  font-weight: 300;
  line-height: 16px;
}

.project-actions {
  display: flex;
  gap: 5px;
}

.project-actions > button {
  cursor: pointer;
  background: #98dede;
  border-radius: 0;
  border: none;
  height: 30px;
  padding: 0 6px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

.see-project-btn {
  background-color: transparent;
  border: solid white 2px;
  color: white;
  height: 50px;
  width: 200px;
  font-size: 16px;
  cursor: pointer;
}

.see-project-btn:hover {
  background-color: white;
  color: #1a2236;
}

/* About section styling */

.about-section {
  padding: 16px;
  margin-top: 40px;
  margin-bottom: 35px;
}

.about-section > h2 {
  font-size: 50px;
  font-family: "Playfair Display", serif;
  color: #1a2236;
  font-weight: normal;
}

.about-section > p {
  color: #1a2236;
  font-family: "Poppins", sans-serif;
  margin-top: 20px;
  font-size: 19px;
}

.about-section > button {
  cursor: pointer;
  margin-top: 32px;
  border: none;
  background: #1a2236;
  width: 100%;
  color: white;
  height: 60px;
  font-size: 19px;
}

.about-section > button > b {
  font-size: 23px;
  font-weight: 700;
}

.my-skill-set {
  margin-top: 40px;
  display: grid;
  gap: 16px;
}

.skill-set {
  padding: 50px;
  color: white;
  font-family: "Poppins", sans-serif;
  background-position: bottom right;
  background-repeat: no-repeat;
}

.languages {
  background-image: url("../img/languages-bg.png");
  background-color: #1c528a;
  background-position: bottom right;
  background-repeat: no-repeat;
}

.frameworks {
  background-image: url("../img/frameworks-bg.png");
  background-color: #e2505c;
  background-position: bottom right;
  background-repeat: no-repeat;
}

.skills {
  background-image: url("../img/skills-bg.png");
  background-color: #febf52;
  background-position: bottom right;
  background-repeat: no-repeat;
}

/* Contact form styling starts here */
.contact-form-container {
  background: #f9f9fa url("../img/section_bg.svg");
  background-repeat: no-repeat;
  padding: 106px 18px 18px 18px;
  display: flex;
  flex-direction: column;
}

.contact-form-container > h2 {
  font-size: 50px;
  font-family: "Playfair Display", serif;
  color: #1a2236;
  font-weight: normal;
}

.contact-form-container > p {
  font-size: 16px;
  color: #1a2236;
  font-weight: 400;
  line-height: 21px;
  margin-top: 20px;
  margin-bottom: 32px;
  letter-spacing: -0.01em;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.labeled-element {
  background-color: white;
  border: 1px solid #dfdfe0;
  border-radius: 4px;
  padding: 4px 16px;
  display: flex;
  flex-direction: column;
}

.labeled-element:focus-within {
  border: 1px solid #1a2236;
}

.labeled-element > input {
  border: none;
  padding: 0;
  margin: 4px 0 8px 0;
  color: #1a2236;
  font-weight: 400;
}

.labeled-element > input:focus {
  border: none;
  outline: none;
}

.labeled-element > label {
  color: #7d7c84;
  font-size: 10px;
  line-height: 15px;
}

.contact-form > textarea {
  padding: 15px 16px;
  border-radius: 4px;
  resize: vertical;
}

.contact-form > textarea:focus {
  border: 1px solid #1a2236;
  outline: none;
}

.submit-btn {
  margin-top: 12px;
  background-color: #1a2236;
  color: white;
  font-size: 16px;
  font-weight: 500;
  border: none;
  padding: 10px 68px;
  line-height: 24px;
}

/* Footer part styling starts here */
.footer-container {
  background: #1a2236;
  padding: 32px 16px 40px 16px;
}

.footer-container > a {
  text-decoration: none;
  color: #92dcdc;
  display: flex;
  gap: 10px;
}

.footer-container > ul {
  margin-top: 30px;
  padding: 0 5px;
  display: flex;
  list-style: none;
  justify-content: space-between;
}

/* RWD styling code  */
@media screen and (min-width: 992px) {
  header {
    background: none;
  }

  .nav-menu {
    justify-content: center;
    align-items: center;
    height: 50px;
    box-shadow: 0px 0.5px 0px 0px #dddfe6;
  }

  .nav-menu > a {
    display: none;
  }

  .nav-menu > ul {
    display: block;
    list-style: none;
    display: flex;
    gap: 40px;
  }

  .nav-menu ul a {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #1a2236;
    text-underline-offset: 8px;
  }

  .nav-menu-item a::after {
    content: "";
    background: #1a2236;
    display: block;
    position: sticky;
    width: 0%;
    height: 2px;
  }

  .active-menu a::after,
  .nav-menu-item:hover a::after,
  .nav-menu-item:active a::after {
    content: "";
    background: #1a2236;
    display: block;
    position: sticky;
    width: 80%;
    height: 2px;
    transition: width 0.1s ease-in-out;
  }

  .hero-section > img {
    display: none;
  }

  .hero-content {
    display: flex;
    justify-content: stretch;
    align-items: stretch;    
  }

  .hero-left {
    padding: 10% 20px 200px 8%;
    background: url("../img/image_dots.svg");
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 138px;
    width: 50%;
  }  
  
  .hero-right {
    background: url("../img/image-geometry.svg");
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    width: 50%;
  }

  .hero-left > h1 {
    font-size: 110px;
    font-size: 9vw;
    line-height: 110px;
    color: #1a2236;
  }

  .start-collaboration-btn {
    width: auto;
    background-color: #1a2236;
    color: white;
    font-size: 1rem;
    padding-left: 20px;
    padding-right: 20px;
  }

  .center-contained-section {
    padding: 150px 160px 200px 160px;
  }

}
