* {
  margin: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

header {
  background-image: url("../img/image_geometry_3.svg");
  background-repeat: no-repeat;
  padding: 25px;
}

header nav {
  display: flex;
  justify-content: end;
}

header nav a {
  text-decoration: none;
  color: black;
  font-weight: 800;
  font-size: 1.8rem;
}

.hero-section {
  padding-left: 16px;
  padding-top: 30px;
}

.hero-section h2 {
  font-weight: 400;
  font-size: 50px;
  line-height: 50px;
}
