@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins:wght@500&display=swap");

* {
  margin: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

header {
  background-image: url("../img/image_geometry_3.svg");
  background-repeat: no-repeat;
  padding: 25px;
}

header nav {
  display: flex;
  justify-content: end;
}

header nav a {
  text-decoration: none;
  color: black;
  font-weight: 800;
  font-size: 1.8rem;
}

.hero-section {
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 30px;
}

.hero-section h2 {
  width: 7ch;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 60px;
  line-height: 60px;
}

.hero-section p {
  margin: 20px 0;
  font-family: "Poppins", sans-serif;
  color: #1a2236;
  line-height: 21px;
  font-weight: 400;
}

.hero-section > button {
  margin-top: 20px;
  height: 60px;
  width: 100%;
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  background-color: #1a2236;
  color: white;
  border: none;
}

/* Projects section */

.projects-section {
  margin-top: 32px;
}

.projects-section > img {
  width: 100%;
}

.projects-section > h2 {
  margin-left: 16px;
  margin-top: 40px;
  margin-bottom: 32px;
  font-size: 50px;
  font-family: "Playfair Display", serif;
  color: #1a2236;
  font-weight: normal;
}

.project-item {
  background: transparent;
  display: flex;
  flex-direction: column;
}

.project-item > img {
  width: 100%;
}

.project-description {
  padding: 20px;
  background: #1a2236;
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex-grow: 0;
}

.project-description > h2 {
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  font-weight: 300;
  line-height: 16px;
}

.project-actions > button {
  background: #98dede;
  border-radius: 0;
  border: none;
  height: 30px;
  padding: 0 10px;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
}

.see-project-btn {
  background-color: transparent;
  border: solid white 2px;
  color: white;
  height: 50px;
  width: 200px;
  font-size: 19px;
}

/* About section styling */

.about-section {
  padding: 16px;
  margin-top: 40px;
}

.about-section > h2 {
  font-size: 50px;
  font-family: "Playfair Display", serif;
  color: #1a2236;
  font-weight: normal;
}

.about-section > p {
  color: #1a2236;
  font-family: "Poppins", sans-serif;
  margin-top: 20px;
  font-size: 19px;
}

.about-section > button {
  margin-top: 32px;
  border: none;
  background: #1a2236;
  width: 100%;
  color: white;
  height: 60px;
  font-size: 19px;
}

.about-section > button > b {
  font-size: 23px;
  font-weight: 700;
}
